@model LivrariaTDD.Models.Product.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Cadastrar Livro</title>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>