@using LivrariaTDD.Models
@model UsuarioModel
@{
}

<!DOCTYPE html>

<html>
    <head>
        @RenderPage("~/Views/Shared/_Head.cshtml")
    </head>
    <body>
        @RenderPage("~/Views/Shared/_TopBar.cshtml")
    </body>
</html>